@import "../../scss/utils";

.wrapper {
  position: relative;
  composes: wrapper from '../Scroller/scroller.scss';
  padding-right: 24px;
  opacity: 0;
  transform: translateY(100%);
  visibility: hidden;
  will-change: transform;

  &:global(.in-viewport) {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 700ms 300ms cubic-bezier(.694, 0, .335, 1), transform 700ms 300ms cubic-bezier(.694, 0, .335, 1), visibility 700ms 300ms step-start;
  }

  @include mq(md) {
    padding: 0 80px;
  }
}

.inner {
  composes: inner from '../Scroller/scroller.scss';

  @include mq(md) {
    width: 450px
  }

  @include mq(xxl) {
    width: calc(33vw - 136px);
  }
}

.img {
  width: 100%;
  height: auto;
}