@import '../../scss/utils';

.form {
  position: absolute;
  width: 100%;
  top: 128px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @include mq(md) {
    top: 152px;
  }
}

.control {
  flex: 0 0 100%;
}

.input {
  width: 100%;
  display: block;
  @extend %body;
  line-height: 1;
  padding: 0 80px 0 24px;
  height: 56px;
  border: none;
  background: #fff;

  &:focus {
    outline: none;
  }
}

.submit {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color .25s ease-out !important;
  z-index: 1;

  &:before {
    @include pseudo();
    background: color(primary);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    transform: scale(0, 0);
    transition: transform .3s;
    z-index: -1;
  }

  &:hover {
    &:before {
      transform: scale(1, 1);
    }

    svg {
      path,
      circle {
        stroke: #fff;
      }
    }
  }

  svg {
    pointer-events: none;
    width: 32px;
    height: 32px;
    path,
    circle {
      transition: stroke .25s ease-out !important;
      stroke: $black;
    }
  }
}